.coinCon{
    display:flex;
    margin: 20px auto;
    padding:20px 30px;
    border-radius:20px;
    gap: 25px;
    background-color: #1123EB;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5) 0 0 10;
    justify-content: space-around;
}
.coinred{
    width: 50px;
}
.coinblue{
    width: 50px;
}
.coingreen{
    width: 50px;
}
.coinyellow{
    width: 50px;
}
.pawnred{
    width: 25px;
}
.pawnblue{
    width: 25px;
}
.pawngreen{
    width: 25px;
}
.pawnyellow{
    width: 25px;
}