.board{
    border: 2px solid;
    width: fit-content;
}
.box{
    display: flex;
}
.redBox{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    background-color:red;
}
.blueBox{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    background-color:blue;
}
.greenBox{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    background-color: green;
}
.yellowBox{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    background-color: yellow;
}
.whiteBox{
    border: 1px solid;
    width: 100px;
    height: 100px;
    background-color: white ;
    margin :15% auto;
    border-radius: 10px;
}
.redCircle1{
      border-radius: 50%;
      width: 25px;
      height: 25px;
      float: left;
      margin: 11px;
      border: 1px solid black;
      background-color: red;
}
.redCircle2{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    float: left;
    margin: 11px;
    border: 1px solid black;
    background-color: red;
}
.redCircle3{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    float: left;
    margin: 11px;
    border: 1px solid black;
    background-color: red;
}
.redCircle4{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    float: left;
    margin: 11px;
    border: 1px solid black;
    background-color: red;
}
.blueCircle1{
      border-radius: 50%;
      width: 25px;
      height: 25px;
      float: left;
      margin: 11px;
      border: 1px solid black;
      background-color: blue;
}
.blueCircle2{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    float: left;
    margin: 11px;
    border: 1px solid black;
    background-color: blue;
}
.blueCircle3{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    float: left;
    margin: 11px;
    border: 1px solid black;
    background-color: blue;
}
.blueCircle4{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    float: left;
    margin: 11px;
    border: 1px solid black;
    background-color: blue;
}
.greenCircle1{
      border-radius: 50%;
      width: 25px;
      height: 25px;
      float: left;
      margin: 11px;
      border: 1px solid black;
      background-color: green;
}
.greenCircle2{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    float: left;
    margin: 11px;
    border: 1px solid black;
    background-color: green;
}
.greenCircle3{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    float: left;
    margin: 11px;
    border: 1px solid black;
    background-color: green;
}
.greenCircle4{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    float: left;
    margin: 11px;
    border: 1px solid black;
    background-color: green;
}
.yellowCircle1{
      border-radius: 50%;
      width: 25px;
      height: 25px;
      float: left;
      margin: 11px;
      border: 1px solid black;
      background-color: yellow;
}
.yellowCircle2{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    float: left;
    margin: 11px;
    border: 1px solid black;
    background-color: yellow;
}
.yellowCircle3{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    float: left;
    margin: 11px;
    border: 1px solid black;
    background-color: yellow;
}
.yellowCircle4{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    float: left;
    margin: 11px;
    border: 1px solid black;
    background-color: yellow;
}
.cell{
    width: 23.8px;
    height: 23.8px;
    border: 1px solid black;
}
.red{
    background-color:red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color:green;
}
.star{
    background-image: url(/image/star.svg);
}
.center{
    border-bottom: 38px solid green;
    border-left: 38px solid red ;
    border-top: 38px solid blue;
    border-right: 38px solid yellow
}
