.container{
  width: 350px;
  display: flex;
  white-space: nowarp;
  justify-content: space-between;
  padding: 10px;
  gap: 15px;
  cursor: pointer;
  overflow-x: auto;

}
button{
  background-color:#010853;
    color: #ffffff;
    border: none;
    padding: 8px;
    border-radius: 8px; 
    cursor: pointer;
    font-size: 20px;
    transition: 0.4s;
    width: 100px;
    flex-shrink: 0;
    font-family:sans-serif;

}
button:hover{
  background: yellow;
  color: blue;
}
#date input{

  margin: 10px 10px 10px 10px;
  width:350px;
  background:#010853;
  height: 25px;
  color: white;
  text-size-adjust: auto;
}
  
  