.container{
  width: 350px;
  display: flex;
  white-space: nowarp;
  justify-content: space-between;
  padding: 10px;
  gap: 15px;
  cursor: pointer;
  overflow-x: auto;

}
button{
  background-color:#010853;
    color: #ffffff;
    border: none;
    padding: 8px;
    border-radius: 8px; 
    cursor: pointer;
    font-size: 20px;
    transition: 0.4s;
    width: 100px;
    flex-shrink: 0;
    font-family:sans-serif;

}
button:hover{
  background: yellow;
  color: blue;
}
#date input{

  margin: 10px 10px 10px 10px;
  width:350px;
  background:#010853;
  height: 25px;
  color: white;
  text-size-adjust: auto;
}
#box{
  background: #C3CE25;
  position: absolute;
  top: 207px;
  left: 295px;
}

.main{
  border: solid;
  border-radius: 15px;
  border-width: 5px;
  border-color: rbg(0, 255, 255);
  width: 375px;
  height: 150px;
  background: #2C3379;
margin-right:16px;
margin-top:40px;
display: flex;
justify-content: space-between;
color: #FFFB00;
}
.box1{
  padding: 0px;
    display: flex;
  justify-content: space-between;
  column-gap: 225px;
  padding-left: 10px;
}
.rightContent{
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-bottom: 10px;
}
.centerContent{
  position: absolute;
  right: 20px;
  bottom: 390px;
  left: 20px;
}
.stage{
  position: absolute;
  right: 20px;
  bottom: 390px;
  left: 100px;
}
.time{
  position: absolute;
  right: 20px;
  bottom: 390px;
  left: 150px;
}
.date{
  position: absolute;
  right: 20px;
  bottom: 390px;
  left: 300px;
}
.points{
  position: absolute;
  right: 275px;
  bottom:340px;
}
.bottom{
  width: 100px;
  height: 30px;
  background: darkgreen;
}
.logo{
  width: 20px;
  height: 15px;
  position: absolute;
  right:100px;
  top:140px ;
}