html{
  width: 100%;
  height:100%;
  overflow-x: hidden;
}


  body {
  background-image:url('../assets/background.png');
  background-size: cover;
  background-position:center;
  background-repeat:no-repeat;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overscroll-behavior:none;
}

#top{
  color: White;
  text-align: center;  
  margin-top: 0px;
  padding-left: 110px;
  font-weight: bold;
  font-family:sans-serif;
}

#lessThen{
  width: 30px;
  margin-top: 1px;
  height: 0px;
  flex-shrink: 0;

}
img{
  width: 40px;
  padding-top: 15px;
  margin-left: 15px;
  margin-top:2px;
  
  
}
.heading{
  display: flex;

}