*{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

html{
    width:100%;
    height:100%;
}

body{
    background-image: url('../../assets/sign-in/background.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    overflow: hidden;
}

#headerLogo{
    width: 100%;
    height: 140px;
    text-align: center;
}
#headerLogo .ludoLogo{
    width:170px;
    height: 100px;
    margin-top:25px ;

}
#headerText{
    width: 100%;
    height: 30px;
    text-align: center ;
    margin-bottom: 20px;
}
.text{
    color: black;
}
#emailBar{
    width: 100%;
    height:70px;
    text-align: center;
}
#passwordBar{
    width: 100%;
    height: 70px;
    text-align: center;
}
#emailBar .mailBox{
    width: 80%;
    height: 40px;
        margin-top: 20px;
        border-radius: 10px 10px 10px 10px ;
        border: 2px violet solid;
        outline: 0px;
        font-size: 20px;
        padding-left: 10px;
    
}
#passwordBar .passBox{
    width: 80%;
    height: 40px;
        margin-top: 18px;
        border-radius: 10px 10px 10px 10px ;
        border: 2px violet solid;
        outline: 0px;
        font-size: 20px;
        padding-left: 10px;
    
    
}
#forgotPart{
    width: 100%;
    height: 30px;
    text-align: right ;
}

.forgotText{
    margin-right:35px;
    margin-top: 7px;
    display: inline-block;
    color:blue;
    border:none;
    text-decoration: underline;
    font-size: 14px;
    background-color: #FDFAFF5E;
}
#signinBar{
    width: 100%;
    height: 100px;
    text-align: center;
}

.signinButton{
    width: 80%;
    height:50px ;
    border-radius: 15px;
    border: 2px blue solid;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    background: blue;
    margin-top:20px;
    box-shadow: 3px 3px 10px black;
}
.signinButton:hover{
    background-color: #0E1EDC;
}
.ortext{
    text-align: center;
}
#goolefacebooksigin{
    width: 100%;
    height: 160px;
}
.google{
    position: absolute;
    width: 20px;
    left: 55px;
    top: 515px;
}
.signgoole{
    width: 80%;
    margin-left:37px;
    height: 45px;
    margin-top: 20px;
    border-radius: 30px;
    outline: 0px;
    border:2px blue solid;
        font-weight: bolder;
    font-size: 18px;
    background-color: white;
    box-shadow: 3px 3px 10px black
}
.signgoole:hover{
    background-color :blue;
    color: white;
    opacity: 0.6;
}
.facebook{
    position: absolute;
    width: 25px;
    left: 53px;
    top: 578px;
}
.signfacebook{    
    width: 80%;
    margin-left:37px;
    height: 45px;
        margin-top: 20px;
    border-radius: 30px;
    outline: 0px;
    border:2px blue solid;
    font-weight: bolder;
    font-size: 18px;
    background: white;
    box-shadow: 3px 3px 10px black
}
.signfacebook:hover{
    background-color :blue;
    color: white;
    opacity: 0.6;
}
.accountText{
    display: inline-block;
    margin-left: 70px;
    margin-top: 60px;
    
}
.signupText{
    display: inline-block;
    color:blue;
}